[submodule "ply-shipped"]
	path = ply-shipped
	url = git://github.com/dabeaz/ply
[submodule "pycparserext-shipped"]
	path = pycparserext-shipped
	url = git://github.com/inducer/pycparserext.git
[submodule "pycparser-shipped"]
	path = pycparser-shipped
	url = git://github.com/eliben/pycparser.git
